<div class="flex w-full flex-wrap">
  <div class="w-full justify-center flex mb-3 text-gray-700">
    <i class="fa-solid fa-house text-4xl"></i>
  </div>
  <h1 class="font-bold text-4xl text-gray-700 flex justify-center w-full">Welcome to your Homepage</h1>
</div>
